.bgwhite {
    background-color: white;
    border-radius: 25px;
    min-height: 115px;
    /* padding: 10px; */
    text-align: center;
    min-width: 350px;
    box-shadow: 0px 0px 12px 1px #9f9f9f;
    margin: 10px auto;
}

.bgwhite p {
    font-size: 18px;
}

.bgwhite p:first-letter {
    text-transform: capitalize;
}

h4:first-letter {
    text-transform: capitalize;
}

.img,
.img-storage {
    width: 90%;
}

.enviar {
    border-radius: 30px;
    text-align: center;
    height: 55px;
    font-size: 25px;
    width: 25%;
}

.nome,
.nome-storage {
    font-size: 25px !important;
    font-weight: 600;
}

.bg-style {
    background: #ff5d5d;
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin: 0 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: relative;
    box-shadow: 1px 1px 4px 0px black;
}

h5 {
    font-size: 16px;
    margin: 0;
}

p {
    margin: 0;
}

.show {
    display: block;
    text-align: center;
}

.show-pic {
    display: block;
    /* margin: 0 20px 15px; */
}

.no-show {
    display: none!important;
}

.seta {
    color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 100%;
    bottom: 3px;
    right: -3px;
    box-shadow: 1px 2px 4px 0px black;
}

.header-img {
    background-color: #232323;
    padding: 30px 0 50px;
}

.hid-scroll {
    height: 50vh;
    overflow-y: auto
}

.box-content {
    flex-direction: column-reverse;
}

* {
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hid-scroll::-webkit-scrollbar {
    display: none;
    overflow-y: auto;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hid-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@media screen and (max-width: 762px) {
    .img-storage {
        width: 35%;
    }
    .justify-content-end {
        justify-content: center !important;
    }
    .bg-style {
        width: 67px;
        height: 67px;
        margin: 10px 3px;
    }
    .bg-style p{
        font-size: 14px;
    }
    .enviar {
        width: 90%;
    }
}